@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500&family=Poppins:wght@200;300;400&display=swap');

body{
    padding: 0;
    margin: 0;
}

.App{
    font-family: 'Poppins', sans-serif;

    .register, .verification{
        display: flex;

        .ct_1{
            width: 58.7vw;
            background: #E3ECFF;

            .header{
               text-align: center;
               margin-top: 49px;

               img{
                width: 19.44vw;
               }
            }

           .text{
                margin-left: 6.65%; 

                h1{
                    font-size: 2.19vw;
                    font-weight: 500;
                    font-family: 'Montserrat', sans-serif;
                    color: #0D0D26;
                }

                p{
                    font-size: 1.26vw;
                    color: #4B4A4A;
                    font-weight: 400;
                }

                p:nth-child(3){
                    line-height: 0px;
                    font-size: 0.99vw;

                    a{
                        color: #01C8FF;
                    }
                }
            }

           .form{
            margin-left: 6.6%;

                form{
                    label{
                        font-size: 0.96vw;
                        font-weight: 500;
                        font-family: 'Inter', sans-serif;
                        color: #4B4A4AC9;

                        &[for="check"]{
                            font-size: 0.86vw;
                            font-weight: 400;
                            color: #A8D8D8;
                        }
                    }

                    input{
                        margin-bottom: 18px;
                        width: 80.3%;
                        height: 65px;
                        border: 1.5px solid #01C8FF;
                        background: none;
                        outline: none;
                        border-radius: 5px;
                        font-size: 1.3vw;
                        color: #4B4A4A;
                        padding-left: 2.95%;
                        cursor: pointer;

                        &::placeholder{
                            font-family: 'Inter', sans-serif;
                            font-size: 1.06vw;
                            font-weight: 500;
                        }

                        &[type="checkbox"]{
                            width: auto;
                            height: auto;
                            margin-right: 10px;
                            z-index: 1;
                            opacity: 0;

                            &:checked ~ .custom_check{
                                background: #9191DB;
                                border: none;
                            }
        
                            &:checked ~ .custom_check:after{
                                display: block;
                            }
                        }
                    }

                    .ct_p{
                        position: relative;
                        img{
                            position: absolute;
                            right: 12.2%;
                            top: 0;
                            padding: 50px;
                        }
                    }

                    .checked {
                        position: relative;
                        display: flex;
                        align-items: baseline;

                        .custom_check{
                            position: absolute;
                            left: 4px;
                            top: 3px;
                            width: 13px;
                            height: 13px;
                            border: 1px solid rgb(0, 0, 0, 0.5);
                            z-index: 0;
        
        
                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                                left: 4px;
                                top: 1px;
                                width: 3px;
                                height: 7px;
                                border: solid #fff;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    .submit_btn{
                        text-align: center;
                        margin-right: 6.6%;

                        button{
                            width: 59.5%;
                            height: 50px;
                            background: #01C8FF;
                            border: none;
                            border-radius: 10px;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.32vw;
                            font-weight: 400;
                            color: #4B4A4A;
                            cursor: pointer;
                        }

                        span{
                            display: block;
                            margin: 20px 0 58px 0;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.06vw;
                            font-weight: 400;
                            color: #4B4A4A;

                            a{
                                font-family: 'Poppins', sans-serif;
                                color: #01C8FF;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

           .verification_form{
            text-align: center;
            margin-bottom: 207px;

                form{
                    
                    div{
                        margin: 123px 0 0 0;

                        input{
                            width: 8.8%;
                            height: 97px;
                            margin-right: 2.8%;
                            border: 1.5px solid #01C8FF;
                            background: none;
                            outline: none;
                            border-radius: 5px;
                            text-align: center;
                            font-size: 2.3vw;
                            color: #4B4A4A;
                            cursor: pointer;
                        }
                    }

                    .ctr-1{
                        display: flex;
                        justify-content: center;
                        margin: 0 0 152px 0;

                        p{
                            font-size: 0.99vw;
                            color:#4B4A4A;
                            margin-right: 10px;
                        }
                    }

                    .submit_btn{
                        button{
                            width: 59.5%;
                            height: 50px;
                            background: #01C8FF;
                            border: none;
                            border-radius: 10px;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.32vw;
                            font-weight: 400;
                            color: #4B4A4A;
                            cursor: pointer;
                        }
                    }
                }
           }
        }

        .ct_2{
            width: 41.34vw;
            background: #01C8FF;

            img{
                width: 42.7%;
                position: absolute;
                left: 54%;
                top: 168px;
            }
        }
    }
}


@media screen and (max-width: 1300px) {
    .App{
        .register .ct_1 .form form {
            input{
                height: 45px;
            }

            .ct_p img{
                top: -3px;
                padding: 45px;
            }

            .submit_btn button{
                height: 40px;
            }
        }
    
        .verification .ct_1 .verification_form form{    
            div input{
                height: 72px;
            }

            .submit_btn button{
                height: 40px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .App{
        .register .ct_1{
            .text{

                h1{
                    font-size: 20px;
                }

                p{
                    font-size: 14px;
                }
            }

            .form form {
                label{
                    font-size: 11px;

                    &[for="check"]{
                        font-size: 10px;
                    }
                }
                input{
                    height: 35px;
                    font-size: 11px;

                    &::placeholder{
                        font-size: 11px;
                    }
                }
    
                .ct_p img{
                    width: 16px;
                    top: 8px;
                    padding: 30px;
                }
    
                .submit_btn button{
                    height: 30px;
                    font-size: 11px;
                }

                .submit_btn  span{
                    font-size: 11px;
                }
            }
        }
    
        .verification .ct_1 {
            .text{
                h1{
                    font-size: 18px;
                }

                p{
                    font-size: 12px;
                }

                p:nth-child(3){
                    font-size: 9px;
                }
            }

            .verification_form form{    
                div input{
                    height: 52px;
                }

                .ctr-1{
                    p{
                        font-size: 9px;
                        margin-right: 5px;
                    }

                    img{
                        width: 10px;
                    }
                }
    
                .submit_btn button{
                    height: 30px;
                    font-size: 11px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .App{
        .register .ct_1 {
            .header img{
                width: 160px;
            }

            .text{

                h1{
                    font-size: 18px;
                }

                p{
                    font-size: 12px;
                }
            }

            .form form {
                label{
                    font-size: 11px;

                    &[for="check"]{
                        font-size: 10px;
                    }
                }
                input{
                    height: 25px;
                    font-size: 2vw;

                    &::placeholder{
                        font-size: 9px;
                    }
                }
    
                .ct_p img{
                    top: 14px;
                    padding: 20px;
                }
    
                .submit_btn button{
                    height: 20px;
                    font-size: 9px;
                }

                .submit_btn  span{
                    font-size: 9px;
                }
            }
        }
    
        .verification .ct_1 {
            .header img{
                width: 160px;
            }

            .text{
                h1{
                    font-size: 16px;
                }

                p{
                    font-size: 10px;
                }
            }

            .verification_form form{    
                div input{
                    height: 32px;
                }
    
                .submit_btn button{
                    height: 20px;
                    font-size: 9px;
                }
            }
        }
    }
}